@model Calculator

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Calculator</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <table>
            <tr>
                <td colspan="3"><button>AC</button></td>
                <td><button>/</button></td>
            </tr>
            <tr>
                <td><button>7</button></td>
                <td><button>8</button></td>
                <td><button>9</button></td>
                <td><button>*</button></td>
            </tr>
            <tr>
                <td><button>4</button></td>
                <td><button>5</button></td>
                <td><button>6</button></td>
                <td><button>-</button></td>
            </tr>
            <tr>
                <td><button>1</button></td>
                <td><button>2</button></td>
                <td><button>3</button></td>
                <td><button>+</button></td>
            </tr>
            <tr>
                <td colspan="3"><button>0</button></td>
                <td><button>=</button></td>
            </tr>
        </table>
    </p>
    
    <p>String Calculator</p>
    
    <form action="api/calculator/add" method="get" enctype="application/x-www-form-urlencoded">
        <p><label for="add">Add:</label>
    <input id="numbers" type="text" name="numbers" size="15"
           maxlength="30" />
    <input type="submit" name="calculate" value="Calculate" />
</p>
    </form>
</div>
