@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Calculator</h1>
    <br/>

    <table class="center">
            <tr>
                <td colspan="3"><input type="button" id="ac" onclick="clearItems()" value="AC"></td>
                <td><input type="button" id="divideButton" onclick="" value="/"></td>
            </tr>
            <tr>
                <td><input type="button" id="seven" onclick="" value="7"></td>
                <td><input type="button" id="eight" onclick="" value="8"></td>
                <td><input type="button" id="nine" onclick="" value="9"></td>
                <td><input type="button" id="multiplyButton" onclick="" value="*"></td>
            </tr>
            <tr>
                <td><input type="button" id="seven" onclick="" value="4"></td>
                <td><input type="button" id="eight" onclick="" value="5"></td>
                <td><input type="button" id="nine" onclick="" value="6"></td>
                <td><input type="button" id="subtractButton" onclick="" value="-"></td>
            </tr>
            <tr>
                <td><input type="button" id="one" onclick="" value="1"></td>
                <td><input type="button" id="two" onclick="" value="2"></td>
                <td><input type="button" id="three" onclick="" value="3"></td>
                <td><input type="button" id="addButton" onclick="" value="+"></td>
            </tr>
            <tr>
                <td colspan="3"><input type="button" id="zero" onclick="" value="0"></td>
                <td><input type="button" id="equalsButton" onclick="" value="="></td>
            </tr>
        </table>
    <br/>
    <p>String Calculator</p>

    <form id="addForm" action="javascript:void(0);" method="get" onsubmit="addItem()">
        <p>
            <label for="add-name">Add:</label>
            <input type="text" id="add-name" size="15"
                   maxlength="30" />
            <input type="submit" value="Calculate" />
        </p>
    </form>
    
    <form id="subtractForm" action="javascript:void(0);" method="get" onsubmit="subtractItem()">
        <p>
            <label for="subtract-name">Subtract:</label>
            <input type="text" id="subtract-name" size="15"
                   maxlength="30" />
            <input type="submit" value="Calculate" />
        </p>
    </form>
    
    <form id="multiplyForm" action="javascript:void(0);" method="get" onsubmit="multiplyItem()">
        <p>
            <label for="multiply-name">Multiply:</label>
            <input type="text" id="multiply-name" size="15"
                   maxlength="30" />
            <input type="submit" value="Calculate" />
        </p>
    </form>
    
    <form id="divideForm" action="javascript:void(0);" method="get" onsubmit="divideItem()">
        <p>
            <label for="divide-name">Divide:</label>
            <input type="text" id="divide-name" size="15"
                   maxlength="30" />
            <input type="submit" value="Calculate" />
        </p>
    </form>

    <p id="p1">Hello World!</p>
</div>

<input type="hidden" id="leftOperand" name="leftOperand" value="0">
<input type="hidden" id="operator" name="operator" value="">
<input type="hidden" id="rightOperand" name="rightOperand" value="">

<script src="js/site.js" asp-append-version="true"></script>