@model Calculator

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Calculator</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <table>
            <tr>
                <td colspan="3"><button>AC</button></td>
                <td><button>/</button></td>
            </tr>
            <tr>
                <td><button>7</button></td>
                <td><button>8</button></td>
                <td><button>9</button></td>
                <td><button>*</button></td>
            </tr>
            <tr>
                <td><button>4</button></td>
                <td><button>5</button></td>
                <td><button>6</button></td>
                <td><button>-</button></td>
            </tr>
            <tr>
                <td><button>1</button></td>
                <td><button>2</button></td>
                <td><button>3</button></td>
                <td><button>+</button></td>
            </tr>
            <tr>
                <td colspan="3"><button>0</button></td>
                <td><button>=</button></td>
            </tr>
        </table>
    </p>

    <p>String Calculator</p>

    <form id="addForm" action="javascript:void(0);" method="get" onsubmit="addItem()">
        <p>
            <label for="numbers">Add:</label>
            <input type="text" id="add-name" size="15"
                   maxlength="30" />
            <input type="submit" value="Calculate" />
        </p>
    </form>
    
    <form id="subtractForm" action="javascript:void(0);" method="get" onsubmit="subtractItem()">
        <p>
            <label for="numbers">Subtract</label>
            <input type="text" id="subtract-name" size="15"
                   maxlength="30" />
            <input type="submit" value="Calculate" />
        </p>
    </form>
    
    <form id="multiplyForm" action="javascript:void(0);" method="get" onsubmit="multiplyItem()">
        <p>
            <label for="numbers">Multiply</label>
            <input type="text" id="multiply-name" size="15"
                   maxlength="30" />
            <input type="submit" value="Calculate" />
        </p>
    </form>
    
    <form id="divideForm" action="javascript:void(0);" method="get" onsubmit="divideItem()">
        <p>
            <label for="numbers">Divide</label>
            <input type="text" id="divide-name" size="15"
                   maxlength="30" />
            <input type="submit" value="Calculate" />
        </p>
    </form>

    <p id="p1">Hello World!</p>
</div>


<script src="js/site.js" asp-append-version="true"></script>